# Allow cfg leds to talk to Keychron QMK/VIA Raw HID interfaces.
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="3434", MODE="0660", TAG+="uaccess"
