# vi: ft=conf
[ColorScheme]
active_colors={{ text | hex_argb }}, {{ surface1 | hex_argb }}, {{ surface2 | hex_argb }}, {{ surface1 | hex_argb }}, {{ crust | hex_argb }}, {{ mantle | hex_argb }}, {{ text | hex_argb }}, {{ text | hex_argb }}, {{ text | hex_argb }}, {{ base | hex_argb }}, {{ mantle | hex_argb }}, {{ crust | hex_argb }}, {{ accent | hex_argb }}, {{ crust | hex_argb }}, {{ accent | hex_argb }}, {{ secondary | hex_argb }}, {{ mantle | hex_argb }}, #ffffffff, {{ base | hex_argb }}, {{ text | hex_argb }}, {{ overlay0 | hex_argb(alpha=0.5) }}, {{ accent | hex_argb }}
disabled_colors={{ overlay0 | hex_argb }}, {{ surface1 | hex_argb }}, {{ surface2 | hex_argb }}, {{ surface1 | hex_argb }}, {{ crust | hex_argb }}, {{ mantle | hex_argb }}, {{ overlay0 | hex_argb }}, {{ text | hex_argb }}, {{ overlay0 | hex_argb }}, {{ base | hex_argb }}, {{ mantle | hex_argb }}, {{ crust | hex_argb }}, {{ surface0 | hex_argb }}, {{ overlay0 | hex_argb }}, {{ surface0 | hex_argb }}, {{ secondary | hex_argb }}, {{ mantle | hex_argb }}, #ffffffff, {{ base | hex_argb }}, {{ text | hex_argb }}, {{ overlay0 | hex_argb(alpha=0.5) }}, {{ surface0 | hex_argb }}
inactive_colors={{ overlay1 | hex_argb }}, {{ surface1 | hex_argb }}, {{ surface2 | hex_argb }}, {{ surface1 | hex_argb }}, {{ crust | hex_argb }}, {{ mantle | hex_argb }}, {{ overlay1 | hex_argb }}, {{ overlay1 | hex_argb }}, {{ overlay1 | hex_argb }}, {{ base | hex_argb }}, {{ mantle | hex_argb }}, {{ crust | hex_argb }}, {{ surface0 | hex_argb }}, {{ overlay1 | hex_argb }}, {{ surface0 | hex_argb }}, {{ secondary | hex_argb }}, {{ mantle | hex_argb }}, #ffffffff, {{ base | hex_argb }}, {{ overlay1 | hex_argb }}, {{ overlay0 | hex_argb(alpha=0.5) }}, {{ surface0 | hex_argb }}
