/* Catppuccin Mocha */

* {
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces {
  background-color: #313244;
  margin: 5px;
  padding: 0px 5px;
  border-radius: 10px;
}

#workspaces button {
  padding: 0px 15px;
  color: #cdd6f4;
  border-radius: 10px;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #a6e3a1;
}

#workspaces button:hover {
  background-color: #45475a;
  color: #cdd6f4;
}

#tray {
  background-color: #313244;
  margin: 5px;
  padding: 0px 10px;
  border-radius: 10px;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #f38ba8;
}

#clock,
#mpris,
#wireplumber,
#privacy,
#custom-weather,
#custom-powermenu {
  background-color: #313244;
  color: #cdd6f4;
  padding: 0px 15px;
  margin: 5px;
  border-radius: 10px;
}

#privacy {
  background-color: #f38ba8;
  color: #313244;
}
