[Unit]
Description=1Password Background Agent
BindsTo=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=uwsm app -- /usr/bin/1password --silent
Restart=on-failure

[Install]
WantedBy=graphical-session.target
